# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TMS_PART_2\Lesson24_HomeWork\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
